fastapi
uvicorn
androguard==3.3.5
python-multipart==0.0.9
xgboost
scikit-learn
shap
google-generativeai==0.5.4
pydantic
sqlalchemy
aiofiles==23.2.1
python-magic==0.4.27
networkx
numpy
pandas
pytest
httpx
python-dotenv
lxml
yara-python
openai
tqdm